@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
/* Add this in your global CSS file */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.product-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%; /* Ensure it takes full width */
}

.product-title:hover span {
  animation: marquee 10s linear;
}

.product-title span {
  display: inline-block;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
